<nav>
  <img src="images/logo.png" alt="">
  <h1>Exoplanets viewer</h1>
</nav>
<section></section>

<script src="javascripts/common.js"></script>
<script>
  const URL = "https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=json&where=pl_kepflag=1"
  const URL2 = "http://localhost:3000/javascripts/exoplanets.json"
  let planetTextures;

  axios.get("http://localhost:3000/planet-textures")
    .then(planetTexturesPayload => {
      planetTextures = planetTexturesPayload.data
      return axios.get(URL2)
    })
    .then(exoplanets => {
      exoplanets = cleanExoplanets(exoplanets.data)

      exoplanets.forEach((exoplanet, idx) => {
        let planetDOMEl = document.createElement("div")
        planetDOMEl.className = "planet"
        planetDOMEl.style.background = `url(${planetTextures[idx]})`
        planetDOMEl.style.height = planetDOMEl.style.width = `${exoplanet.scaledSize}px`
        planetDOMEl.title = exoplanet.name

        document.querySelector("section").appendChild(planetDOMEl)
      })
    })
</script>