<!DOCTYPE html>
<html>
  <head>
    <title>My First Map</title>
    <style>
      html,
      body,
      div,
      span,
      applet,
      object,
      iframe,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      a,
      abbr,
      acronym,
      address,
      big,
      cite,
      code,
      del,
      dfn,
      em,
      img,
      ins,
      kbd,
      q,
      s,
      samp,
      small,
      strike,
      strong,
      sub,
      sup,
      tt,
      var,
      b,
      u,
      i,
      center,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      form,
      label,
      legend,
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td,
      article,
      aside,
      canvas,
      details,
      embed,
      figure,
      figcaption,
      footer,
      header,
      hgroup,
      menu,
      nav,
      output,
      ruby,
      section,
      summary,
      time,
      mark,
      audio,
      video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
        display: block;
      }
      body {
        line-height: 1;
      }
      ol,
      ul {
        list-style: none;
      }
      blockquote,
      q {
        quotes: none;
      }
      blockquote:before,
      blockquote:after,
      q:before,
      q:after {
        content: "";
        content: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      html,
      body {
        overflow: hidden;
      }
      </style>
      <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
      <style>
        body {
          font-family: 'Oswald', sans-serif;
        }

      #map {
        width: 100vw;
        height: 100vh;
      }

      aside {
        font-size: 40px;
        position: absolute;
        background: rgba(255, 255, 255, 0.96);
        z-index: 100;
        width: 30vw;
        height: 100vh;
        left: -30vw;
        top: 0;
        transition: left 0.5s ease-out;
      }

      aside h1 {
        margin-bottom: 20px;
      }

      aside p {
        font-size: 28px;
      }

      aside button {
        position: relative;
        z-index: 200;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <aside></aside>

    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
